=*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family:Arial,sans-serif;
  background:#0f172a;
  color:white;
}

header{
  background:#111827;
  padding:20px;
  position:sticky;
  top:0;
}

nav{
  max-width:1200px;
  margin:auto;

  display:flex;
  justify-content:space-between;
  align-items:center;
}

nav h1{
  color:#38bdf8;
}

nav ul{
  display:flex;
  gap:20px;
  list-style:none;
}

nav a{
  color:white;
  text-decoration:none;
  transition:0.3s;
}

nav a:hover{
  color:#38bdf8;
}

.hero{
  height:90vh;

  background:
  linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),
  url("https://images.unsplash.com/photo-1537462715879-360eeb61a0ad?q=80&w=1600&auto=format&fit=crop");

  background-size:cover;
  background-position:center;

  display:flex;
  justify-content:center;
  align-items:center;

  text-align:center;
  padding:20px;
}

.hero-content h2{
  font-size:60px;
  margin-bottom:20px;
}

.hero-content p{
  font-size:22px;
  margin-bottom:30px;
}

.button{
  background:#38bdf8;
  color:black;

  padding:14px 24px;
  border-radius:8px;

  text-decoration:none;
  font-weight:bold;

  transition:0.3s;
}

.button:hover{
  background:#0ea5e9;
}

.section{
  max-width:1200px;
  margin:auto;
  padding:80px 20px;
  text-align:center;
}

.section h2{
  font-size:42px;
  margin-bottom:30px;
  color:#38bdf8;
}

.cards{
  display:grid;
  grid-template-columns:repeat(3,1fr);
  gap:25px;
}

.card{
  background:#1e293b;
  padding:30px;
  border-radius:12px;

  transition:0.3s;
}

.card:hover{
  transform:translateY(-10px);
}

.card h3{
  margin-bottom:15px;
  color:#38bdf8;
}

.page-banner{
  height:300px;

  background:
  linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),
  url("https://images.unsplash.com/photo-1504917595217-d4dc5ebe6122?q=80&w=1600&auto=format&fit=crop");

  background-size:cover;
  background-position:center;

  display:flex;
  justify-content:center;
  align-items:center;
}

.page-banner h2{
  font-size:60px;
}

.gallery{
  display:grid;
  grid-template-columns:repeat(2,1fr);
  gap:20px;
}

.gallery img{
  width:100%;
  height:350px;

  object-fit:cover;

  border-radius:12px;

  transition:0.3s;
}

.gallery img:hover{
  transform:scale(1.03);
}

.contact-box{
  background:#1e293b;
  padding:40px;
  border-radius:12px;
}

.contact-box a{
  color:#38bdf8;
}

footer{
  background:#111827;
  text-align:center;
  padding:20px;
  margin-top:40px;
}

@media(max-width:900px){

  nav{
    flex-direction:column;
    gap:20px;
  }

  nav ul{
    flex-direction:column;
    text-align:center;
  }

  .cards{
    grid-template-columns:1fr;
  }

  .gallery{
    grid-template-columns:1fr;
  }

  .hero-content h2{
    font-size:40px;
  }

  .page-banner h2{
    font-size:40px;
  }

}
